html{
    background-color: burlywood;
}


body{
    width: 1023px;
    max-width: 1023px;
    margin: auto;
}

section{
    clear: both;
}

img{
    width: 400px;
    margin: 10px;
}

ul{
    list-style: none;
    
}


ul.nav > li {
    display: inline-block;
    
  }

ul.nav > li > a {
    
    text-decoration: none;
  }


  ul {
    display: inline-grid;
    grid-auto-flow: row;
    grid-gap: 24px;
    justify-items: center;
    margin: auto;
  }
  
  @media (min-width: 500px) {
    ul {
      grid-auto-flow: column;
    }
  }
  

  
  li:last-child {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
  }
  
  
  div {
    display: flex;

    background-color: rgb(230, 176, 106);

    font-family: Menlo, monospace;
  }
  
  
  